/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
body {
  background-color: #fff;
}

/* ===== CABEÇALHO ===== */

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #fff;
  border-bottom: 2px solid #e0e0e0;
}

.topo .logo img {
  width: 70px;
}

/* Links do menu */
.menu-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #2b572b;
  font-weight: bold;
  transition: 0.2s;
}

.menu-links a:hover {
  color: #6aa33e;
}

/* Ícones (carrinho e lupa) */
.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #2f4f2f;
  font-size: 1.4rem;
  cursor: pointer;
}

/* Efeito hover no ícone */
.icons i:hover {
  color: #8dc63f;
  transition: color 0.2s;
}

/* Campo de busca (controlado pela lupa) */
.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.3rem 0.6rem;
  background: #fff;
  transition: box-shadow 0.2s;
}

.search-box input {
  border: none;
  outline: none;
  padding-left: 0.4rem;
  font-size: 0.9rem;
}

.search-box:hover {
  box-shadow: 0 0 5px rgba(141,198,63,0.5);
}


/* ===== BANNER ===== */
.banner {
   background-image: url(img/fundo23.avif);
   background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f8f3;
  padding: 40px 60px;
}
.banner-texto h1 {
  color: #3e6b2b;
  font-size: 38px;
  -webkit-text-stroke: 0.3px white;
  
  
}
.banner-texto button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #7ab648;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.banner img {
  width: 420px;
  border-radius: 10px;
}

/* ===== PRODUTOS ===== */
.produtos {
  text-align: center;
  background-color: #f4f4f4;
  padding: 50px 0;
}
.produtos h2 {
  color: #2e572e;
  margin-bottom: 30px;
}
.grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.produto {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 17%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  justify-content: space-between;
  display: f;
}
.produto img {
  width: 100%;
  border-radius: 10px;
}
.produto button {
  background-color: #7ab648;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.produto button:hover {
  background-color: #6aa33e;
}

/* ===== RODAPÉ ===== */
footer {
  background-color: #234f1e;
  color: white;
  text-align: center;
  padding: 25px;
  font-size: 14px;
}

/* ===== MODAL janela de login ===== */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #fff;
  border-radius: 12px;
  padding: 40px 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  animation: fadeIn 0.3s ease;
}
@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.95);}
  to {opacity: 1; transform: scale(1);}
}
.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

/* ===== FORMULÁRIOS ===== */
.card {
  text-align: center;
}
.card h2 {
  color: #2e572e;
  margin: 15px 0 25px;
}
.card input[type="text"],
.card input[type="email"],
.card input[type="password"] {
  width: 80%;
  max-width: 350px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  margin-bottom: 15px;
  transition: 0.3s;
}
.card input:focus {
  border-color: #8dc63f;
  box-shadow: 0 0 4px rgba(141, 198, 63, 0.3);
}
.card button {
  width: 50%;
  padding: 10px;
  background-color: #7ab648;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.card button:hover {
  background-color: #6aa33e;
}
.card p {
  margin-top: 15px;
  font-size: 14px;
}
.card a {
  color: #5a7d2f;
  text-decoration: none;
}
.card a:hover {
  text-decoration: underline;
}

/* Senha com checkbox */
.senha-container {
  position: relative;
  width: 100%;
}
.senha-container input[type="checkbox"] {
  position: absolute;
  right: 55px;
  top: 35%;
  transform: translateY(-50%);
  width: 14px;
  height: 18px;
  cursor: pointer;
  accent-color: #8dc63f;
}
.icons {
  display: flex;
  align-items: center;
  gap: 1rem; 
  font-size: 1.4rem;
  color: #2f4f2f; /
}

.icons i:hover {
  color: #8dc63f; 
  transition: color 0.2s;
}
#search-bar {
  display: none;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 0.3rem 0.5rem;
}

#search-icon:focus + #search-bar,
#search-icon:hover + #search-bar {
  display: inline-block;
}
[vw] {
  z-index: 9999; 
}

[vw-access-button] {
  right: 20px !important;
  bottom: 80px !important; 
}
